@model ProductModel

<div>
    <form asp-controller="product" asp-action="Create" method="post">
        <div class="row mb-3">
            <div class="col-2">
                <label asp-for="Name">Product Name</label>
            </div>
            <div class="row mb-3">
                <input asp-for="Name" type="text" class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Price">Product Price</label>
            </div>
            <div class="row mb-3">
                <input asp-for="Price" type="text" class="form-control" />
            </div>
            <input type="submit" value="Create" class="btn-primary" />
        </div>
</form>
</div>